/* ベースのスタイル */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  padding-top: 60px; /* ヘッダーの高さ分のパディングを追加 */
  padding-bottom: 60px; /* フッターの高さ分のパディングを追加 */
}

header {
  position: fixed; /* ヘッダーを固定 */
  top: 0; /* 上端に固定 */
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-bottom: 2px solid #ccc;
  background-color: white; /* 背景色を白に設定 */
  z-index: 1000; /* 他の要素より前面に表示 */
}
.small-logo {
  width: 90px; /* 画像の幅を200ピクセルに設定 */
  height: auto; /* 高さは自動的に調整 */
}
footer {
  position: fixed; /* フッターを固定 */
  bottom: 0; /* 下端に固定 */
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  background-color: white;
  border-top: 2px solid #ccc;
  z-index: 1000; /* 他の要素より前面に表示 */
}

.footer-icon {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  border-radius: 50%;
  cursor: pointer;
}

.footer-icon img {
  max-width: 100%;
  max-height: 100%;
}

.footer-icon:hover {
  background-color: #e0e0e0;
}

.profile-view {
  background-image: url("path_to_background_image.jpg");
  background-size: cover;
  background-position: center;
  color: #333;
  padding: 20px;
  overflow: hidden; /* はみ出た部分を非表示にする */
}

.header-image img {
  width: 100%;
  height: auto;
  overflow: hidden; /* はみ出た部分を非表示にする */
  width: 372px; /* コンテナの幅 */
  height: 250px; /* コンテナの高さ */
  margin-top: 22px;
}
.header-image {
  max-width: 100%; /* 親要素の幅を超えない */
  max-height: 100%; /* 親要素の高さを超えない */
}

.profile-info {
  display: flex;
  align-items: center;
  position: relative;

}

.profile-pic {
  width: 130px;
  height: 130px;
  /* border-radius: 50%;
    margin-right: 20px;  */
  position: absolute; /* 絶対位置指定 */
  top: -5%; /* 上端から50%の位置 */
  left: 50%; /* 左端から50%の位置 */
  transform: translate(-50%, -50%); /* 自身のサイズに基づいて50%戻る */
  width: 140px;
  height: 140px;
}

.edit-icon {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
  font-size: 24px;
  color: #666;
}

.info p {
  /* margin: 30px 0; */
  margin-top: 60px;
  /* height: 100px; */
}

.label {
  font-weight: bold;
}

.past-works h3 {
  margin-top: 20px;
}

.past-works {
  margin-top: 20px;
}
