/* ベースのスタイル */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  padding-top: 60px; /* ヘッダーの高さ分のパディングを追加 */
  padding-bottom: 60px; /* フッターの高さ分のパディングを追加 */
}

header {
  position: fixed; /* ヘッダーを固定 */
  top: 0; /* 上端に固定 */
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-bottom: 2px solid #ccc;
  background-color: white; /* 背景色を白に設定 */
  z-index: 1000; /* 他の要素より前面に表示 */
}
.small-logo {
  width: 90px; /* 画像の幅を200ピクセルに設定 */
  height: auto; /* 高さは自動的に調整 */
}
footer {
  position: fixed; /* フッターを固定 */
  bottom: 0; /* 下端に固定 */
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  background-color: white;
  border-top: 2px solid #ccc;
  z-index: 1000; /* 他の要素より前面に表示 */
}

.footer-icon {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  border-radius: 50%;
  cursor: pointer;
}

.footer-icon img {
  max-width: 100%;
  max-height: 100%;
}

.footer-icon:hover {
  background-color: #e0e0e0;
}

.media-list {
  padding: 10px;
  background-color: #f0f0f0; /* リストの背景色 */
  height: 100px;
}

.media-list ul {
  list-style: none;
  /* padding: 0; */
  /* margin-top: px; */
}

.media-item {
  display: flex;
  align-items: center;
  margin-top: 50px;
  padding-bottom: 5px; /* アイテム下に余白を追加 */
  border-bottom: 1px solid #7a7a7a; /* 下線を追加 */
}

.user-icon {
  width: 50px; /* アイコンのサイズ */
  height: 50px;
  border-radius: 50%; /* 円形 */
  margin-right: 10px;
}

.part-name {
  flex-grow: 1;
  /* margin-right: 100px; */
  margin-left: 20px;
}

.play-button {
  font-size: 30px;
  margin-right: 40px;
  border: none;
  background: none;
  cursor: pointer;
}
.title {
  /* width: 70%;
  margin: 0 auto; */
  display: flex;            
    align-items: center;     
    justify-content: space-between; 
    background-color: #f0f0f0;
}

input[type="title"] {
  width: 80%;
  padding: 10px;
  margin: 30px 0;
  margin-right: 20px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
} 
.samune{
    background-color: #f0f0f0;
}
 .samune.pic img {
   width: 100%;
  height: auto;
  overflow: hidden;  
  width: 372px;  
  height: 250px;   
  margin-top: 22px;
}
/* .samune.pic {
  max-width: 100%;   
  max-height: 100%;  
}   */
 .samune-pic{

width: 300px;
height: 300px;
max-width: 100%;   
max-height: 100%;
} 

/* .container {
    display: flex;            
    align-items: center;     
    justify-content: space-between; 
}

.samune-pic {
    width: 300px;
    height: 300px;
    max-width: 100%;
    max-height: 100%;
}*/

.play-button2 {
    position: absolute; /* 絶対位置指定 */
    top: 85%; /* 上端から50%の位置 */
    left: 80%; /* 左端から50%の位置 */
    font-size: 30px;
} 


footer { 
  position: fixed; /* フッターを固定 */
  bottom: 0; /* 下端に固定 */
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  background-color: white;
  border-top: 2px solid #ccc;
  z-index: 1000; /* 他の要素より前面に表示 */
}

.footer-icon {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  border-radius: 50%;
  cursor: pointer;
}

.footer-icon img {
  max-width: 100%;
  max-height: 100%;
}

.footer-icon:hover {
  background-color: #e0e0e0;
}
